@media (min-width:1440px) {

    html,body {
        border:2px blue solid;
        height: 100%;
    }

    main {
        border:4px cadetblue solid;
        height: 100%;
        padding: 20px;
    }

    .product-card {
        display: flex;
        /* border:6px red solid; */
        max-width: 600px;
    }

    .product-card img {
        width: 50%;
        height: auto;
    }

    .product-description {
        width: 50%;
        border:1px red solid;
        padding: 30px;
    }

    .add-to-card {
        padding: 5%;
    }

    .product-image {
        content: url('../images/image-product-desktop.jpg');
    }
}
