@media (max-width:375px) {
    main {
        padding: 10px;
    }
    
    .product-card {
        width: 100%;
        border:2px green solid;
        overflow: hidden;
    }

    .product-card img {
        width: 100%;
        height: 200px;
    }

    .product-description {
        padding: 20px;
        border:1px brown solid;
        box-sizing: border-box;
    }

    .add-to-cart {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .attribution{
        display: none;
    }
}